<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring4-2:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring4_2_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring4-2/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring4-2" />
          <element id="module-output" name="maven-gs" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: opensymphony:ognl:2.6.11" />
          <element id="library" level="project" name="Maven: org.hibernate:hibernate-envers:4.2.21.Final" />
          <element id="library" level="project" name="Maven: org.hibernate:hibernate-infinispan:4.2.21.Final" />
          <element id="library" level="project" name="Maven: org.hibernate:hibernate-osgi:4.2.21.Final" />
          <element id="library" level="project" name="Maven: org.hibernate:hibernate-proxool:4.2.21.Final" />
          <element id="library" level="project" name="Maven: org.hibernate:hibernate-search-engine:5.5.3.Final" />
          <element id="library" level="project" name="Maven: org.hibernate:hibernate-search-engine:tests:5.5.1.Final" />
          <element id="library" level="project" name="Maven: org.hibernate:hibernate-search-orm:5.5.3.Final" />
          <element id="library" level="project" name="Maven: org.hibernate:hibernate-validator-cdi:5.2.4.Final" />
          <element id="library" level="project" name="Maven: org.hibernate:hibernate-validator:5.2.4.Final" />
        </element>
      </element>
    </root>
  </artifact>
</component>